{% include 'templates/header.html' %}
{% include 'templates/navbar.html' with nav %}
<body>
    <div id="follower-panel" class="container">
        <div class="panel panel-primary">
            <div class="panel-heading">Followers</div>
                <div class="panel-body">
                    <script>
                        function openTab(e, tabName)
                        {
                            var i, tabconent, tablinks;
                            
                            // Get all elements with class="tabcontent" and hide them
                            tabcontent = document.getElementsByClassName("tabcontent");
                            for (i = 0; i < tabcontent.length; i++)
                            {
                                tabcontent[i].style.display = "none";
                            }
                            
                            // Get all elements with class="tablinks" and remove the class "active"
                            tablinks = document.getElementsByClassName("tablinks");
                            for (i = 0; i < tablinks.length; i++) {
                                tablinks[i].className = tablinks[i].className.replace(" active", "");
                            }
                            
                            // Show the current tab, and add an "active" class to the button that opened the tab
                            document.getElementById(tabName).style.display = "block";
                            e.currentTarget.className += " active";
                        }
                    </script>
                    <div class="tab">
                        <button class="tablinks" onclick="openTab(event, 'Following')">Following</button>
                        <button class="tablinks" onclick="openTab(event, 'Followers')">Followers</button>
                        <button class="tablinks" onclick="openTab(event, 'Requests')">Requests</button>
                    </div>
                    <div id="Following" class="tabcontent">
                        <script>
                            function toggleCancelUser(e, id)
                            {
                                var user = document.getElementById("usersYouAreFollowing"+id);
                                var userLI = document.getElementById("usersYouAreFollowingLI"+id);
                                var userButton = document.getElementById("usersYouAreFollowingButton"+id);
                                if (user.value == "cancel")
                                {
                                   // uncancels user from following given user
                                   user.value="";
                                   userLI.style="";
                                }
                                else
                                {
                                    // cancels user from following given user
                                    user.value="cancel";
                                    userLI.style="background: #CCC;";
                                }
                            }
                        </script>
                        <h3>You are following:</h3>
                        <form method="post" action="/Epitaphis/removeFollowing.php">
                            <p>
                                <ul>
                                    {% for row in usersYouAreFollowing %}
                                    <li id="usersYouAreFollowingLI{{ row['id'] }}">{{ row['firstName'] ~ " " ~ row['lastName'] }}
                                        <input type="hidden" id="usersYouAreFollowing{{ row['id'] }}" name="usersYouAreFollowing{{ row['id'] }}" value="" />
                                        <button type="button" id="usersYouAreFollowingButton{{ row['id'] }}" onclick="toggleCancelUser(event, {{ row['id'] }})">Cancel</button>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </p>
                            <div class="submit-button"><input class="btn btn-primary btn-block" type="submit" value="Submit" /></div>
                        </form>
                    </div>
                    <div id="Followers" class="tabcontent">
                        <script>
                            function toggleRemoveFollower(e, id)
                            {
                                var user = document.getElementById("usersFollowingYou"+id);
                                var userLI = document.getElementById("usersFollowingYouLI"+id);
                                var userButton = document.getElementById("usersFollowingYouButton"+id);
                                if (user.value == "remove")
                                {
                                    // unremoves user from following given user
                                    user.value="";
                                    userLI.style="";
                                }
                                else
                                {
                                    // removes user from following given user
                                    user.value="remove";
                                    userLI.style="background: #CCC;";
                                }
                            }
                        </script>
                        <h3>Who is following you:</h3>
                        <form method="post" action="/Epitaphis/removeFollowers.php">
                            <p>
                            <ul>
                                {% for row in usersFollowingYou %}
                                <li id="usersFollowingYouLI{{ row['id'] }}">{{ row['firstName'] ~ " " ~ row['lastName'] }}
                                    <input type="hidden" id="usersFollowingYou{{ row['id'] }}" name="usersFollowingYou{{ row['id'] }}" value="" />
                                    <button type="button" id="usersFollowingYouButton{{ row['id'] }}" onclick="toggleRemoveFollower(event, {{ row['id'] }})">Remove</button>
                                </li>
                                {% endfor %}
                            </ul>
                            </p>
                            <div class="submit-button"><input class="btn btn-primary btn-block" type="submit" value="Submit" /></div>
                        </form>
                    </div>
                    <div id="Requests" class="tabcontent">
                        <h3>Who is requesting to follow you:</h3>
                        <form method="post" action="/Epitaphis/followerRequests.php">
                            <p>
                            <ul>
                                {% for row in usersRequestingToFollowYou %}
                                <li>{{ row['firstName'] ~ " " ~ row['lastName'] }}</li>
                                {% endfor %}
                            </ul>
                            </p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

