{% include 'templates/header.html' %}
<body>
    <div class="row">
        <div class="col-lg-6">
	    <div class="home-left">
		<image class="logo" src="/Epitaphis/resources/images/epitaph-01.svg"></image>
	        <h1>Some text here</h1>
		<h1>Some text here</h1>
		<h1>Some text here</h1>
	    </div>
	</div>
	<div class="col-lg-6">
	    <div>
	        <form method="post" action="/Epitaphis/login.php">
		    <p>
		        <label>Email:</label><input type="text" name="email"/>
		        <label>Password:</label><input type="password" name="pass" />
			<input class="btn btn-default" type="submit" value="Login" />
		    </p>
		    <p>
		        {{ error['email']? error['email'] }}
			{{ error['password']? error['password'] }}
		    </p>
		</form>
	    </div>
	    <hr>
	    <div>
		<form method="post" action="/Epitaphis/signup.php">
		     <p>
                        <label class="form-label">Email:</label><input class="textbox" name="email" type="text" value='{{ email }}'/>
                        {{ error['email']? error['email'] }}
                    </p>
                    <p>
                        <label class="form-label">First Name:</label>
                        <input class="textbox" name="firstName" type="text" value='{{ firstName }}'/>
                        {{ error['firstName']? error['firstName'] }}
                    </p>
		     <p>
                        <label class="form-label">Last Name:</label>
                        <input class="textbox" name="lastName" type="text" value='{{ lastName }}'/>
                        {{ error['lastName']? error['lastName'] }}
                    </p>
                    <p>
                        <label class="form-label">Password:</label>
                        <input class="textbox" name="pass1" type="password" />
                        {{ error['pass1']? error['pass1'] }}
                    </p>
                    <p>
                        <label class="form-label">Confirm password:</label>
                        <input class="textbox" name="pass2" type="password" />
                        {{ error['pass2']? error['pass2'] }}
                    </p>
                    <div class="submit-button"><input class="btn btn-default" type="submit" value="Submit" /></div>
		</form>
	    </div>
	</div>
    </div>
</body>
</html>
