{% include 'templates/header.html' %}
<body>
    <div id="home-panel" class="container">
        <div class="panel panel-primary">
            <div class="panel-heading text-center"><image class="logo" src="/Epitaphis/resources/images/epitaph-01.svg"></image></div>
            <div class="panel-body">
                <a href="/Epitaphis/login.php" class="btn btn-primary btn-block">Log in</a><br />
                <a href="/Epitaphis/signup.php" class="btn btn-primary btn-block" role="button">Sign up</a>
            </div>
        </div>
    </div>
</body>
</html>
