{% include 'templates/header.html' %}
{% include 'templates/navbar.html' with nav %}
<body>
    <div class="row profile">
        <div class="col-md-3">
            <div class="epit-logo">
                <img src="/Epitaphis/resources/images/epitaph-01.svg">
            </div>
            <div class="profile-sidebar">
                            <!-- SIDEBAR USERPIC -->
                            <div class="profile-userpic">
                                <img src="/Epitaphis/resources/images/profile_photos/orange_ghostie.png">
                                <!-- END SIDEBAR USERPIC  -->
                                <!-- SIDEBAR USER TITLE -->
                                <div class="profile-usertitle">
                                <div class="profile-usertitle-name">
                                    {{ firstName ~ " " ~ lastName}}
                                </div>
                                <div class="profile-user-bio">
                                    <form method="post" action="profile.php?id={{ profile_user_id }}">
                                    <input type="hidden" name="profile_user_id" value="{{ profile_user_id }}"></input>
                                    <label class="form-label">Bio:</label>
                                    <input type="text" name="bio" placeholder="Tell us about yourself" value="{{ bio }}">
                                    <div class="submit-button"><input class="btn btn-primary btn-block" type="submit" value="Submit"></div>
                                    </form>
                                </div>
                                <!-- END SIDEBAR USER TITLE -->
                                <!-- SIDEBAR MENU START -->
                                <div class="profile-userbuttons">
                                    <button type="button" class="btn btn-success btn-sm">Follow</button>
                                </div>
                            </div>
                        </div>
                    </div>
		    </div>

                <div class="col-md-9">
			<div><p>Insert some quote here</p>
		    </div>
                    <div class="profile-content">
                        <div class="panel-heading">Change your information</div>
                            <div class="panel-body">
                                <script>
                                    var boxId = 1;
                                    function addField(e)
                                    {
                                        var end = document.getElementById("test");
                                        var inputGoalName = document.createElement("input");
                                        var inputGoalText = document.createElement("input");
                                        inputGoalName.type="text";
                                        inputGoalText.type="text";
                                        inputGoalName.name="goal_name_new"+boxId;
                                        inputGoalText.name="goal_text_new"+boxId;
                                        boxId++;
                                        end.appendChild(document.createElement("br"));
                                        end.appendChild(inputGoalName);
                                        end.appendChild(inputGoalText);
                                        end.appendChild(document.createElement("br"));
                                    }
                                    function removeGoal(e, id)
                                    {
                                        var goal_name = document.getElementById("goal_name"+id);
                                        var goal_text = document.getElementById("goal_text"+id);
                                        var goal_button = document.getElementById("goal_button"+id);
                                        if (goal_button.value == "remove")
                                        {
                                            goal_name.disabled=false;
                                            goal_text.disabled=false;
                                            goal_name.style="";
                                            goal_text.style="";
                                            goal_button.value="";
                                        }
                                        else
                                        {
                                            var removeGoal = document.createElement("input");
                                            removeGoal.type="hidden";
                                            removeGoal.name="goal_remove"+id;
                                            goal_button.appendChild(removeGoal);
                                            goal_name.disabled=true;
                                            goal_name.style="background: #CCC;";
                                            goal_text.disabled=true;
                                            goal_text.style="background: #CCC;";
                                            goal_button.value="remove";
                                        }
                                    }
                                </script>
                                <form method="post" action="/Epitaphis/profile.php?id={{ profile_user_id }}">
                                    <p>
                                        <input type="hidden" name="profile_user_id" value="{{ profile_user_id }}"></input>
                                        <label class="form-label">Goals:</label>
                                    </p>
                                    <div id="test">
                                        {% for row in rows %}
                                        <br>
                                        <input type="text" id='goal_name{{ row['goal_id'] }}' name='goal_name{{ row['goal_id'] }}' value='{{ row['goalName'] }}'></input>
                                        <input type="hidden" name='goal_id{{ row['goal_id'] }}' value='{{ row['goal_id'] }}'/>
                                        <input type="text" id='goal_text{{ row['goal_id'] }}' name='goal_text{{ row['goal_id'] }}' value='{{ row['goalText'] }}'/>
                                        <button type="button" id='goal_button{{ row['goal_id'] }}' onclick='removeGoal(event, {{ row['goal_id'] }})'>Remove</button>
                                        <br>
                                        {% endfor %}

                                    </div>
                                    <button type="button" onclick="addField(event)">Add a goal</button>
                                    <div class="submit-button"><input class="btn btn-primary btn-block" type="submit" value="Submit"></div>
                                </form>
                            </div>
                        </div>
		    </div>

	    </div>
</body>
</html>
