{% include 'templates/header.html' %}
{% include 'templates/navbar.html' with nav %}
<body>
    <div class="container">
	<div class="epit-logo">
	    <img class="profile-epit-logo" src="/Epitaphis/resources/images/epitaph-01.svg"> 
	    <div class="quote">be yourself, because that is who we love :)</div>
	</div>

	<div class="row profile">
	    <div class="col-md-3">
		<div class="profile-sidebar">
       		    <!-- SIDEBAR USERPIC -->
		    <div class="profile-userpic">
			    <img src="/Epitaphis/resources/images/profile_photos/orange_ghostie.png">
		    <!-- END SIDEBAR USERPIC  -->
		    <!-- SIDEBAR USER TITLE -->
		        <div class="profile-usertitle">
			    <div class="profile-usertitle-name">
				    NAME HERE </div>
			    <div class="profile-user-bio">
			        USER BIO GOES EHERE:
			    </div>
			        <!-- END SIDEBAR USER TITLE -->
			        <!-- SIDEBAR MENU START -->
			        <div class="profile-userbuttons">
		   		    <button type="button" class="btn btn-success btn-sm">Follow</button>
			        </div>
			    </div>
		        </div> 
		    </div>
		</div>
		    <div class="col-md-9">
			<div class="profile-content">
			    USER CONTENT HERE
			</div>
		    </div>
	    </div>
	</div>
    </div>

</body>
</html>

