{% include 'templates/header.html' %}
<body>
    <div id="signup-panel" class="container">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <a href="/Epitaphis/index.php" class="btn btn-default btn-sm"><</a>
                    Enter your information
            </div>
            <div class="panel-body">
                <form method="post" action="/Epitaphis/signup.php">
                    <p>
                        <label class="form-label">Email:</label><input class="textbox" name="email" type="text" value='{{ email }}'/>
                        {{ error['email']? error['email'] }}
                    </p>
                    <p>
                        <label class="form-label">First Name:</label>
                        <input class="textbox" name="firstName" type="text" value='{{ firstName }}'/>
                        {{ error['firstName']? error['firstName'] }}
                    </p>
                    <p>
                        <label class="form-label">Last Name:</label>
                        <input class="textbox" name="lastName" type="text" value='{{ lastName }}'/>
                        {{ error['lastName']? error['lastName'] }}
                    </p>
                    <p>
                        <label class="form-label">Password:</label>
                        <input class="textbox" name="pass1" type="password" />
                        {{ error['pass1']? error['pass1'] }}
                    </p>
                    <p>
                        <label class="form-label">Confirm password:</label>
                        <input class="textbox" name="pass2" type="password" />
                        {{ error['pass2']? error['pass2'] }}
                    </p>
                    <div class="submit-button"><input class="btn btn-primary btn-block" type="submit" value="Submit" /></div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
