{% include 'templates/header.html' %}
{% include 'templates/navbar.html' with nav %}
<body>

    <div class="stream-main-logo">
	<img src="/Epitaphis/resources/images/epitaph-01.svg" >
    </div>

    <div class="main-stream">
	
	<div class="left-posts">
	    left posts
	</div>

	<div class="right-side">

  	    <div class="right-profile-pic">
	        <img src="/Epitaphis/resources/images/profile_photos/pink_ghostie.png" style="width:100%;" > 
  	    </div>

 	    <div class="right-profile-name">
		<p>NAME</p>
 	    </div>
        </div>
	<!-- ><div class-"right-profile-ghost">
	    <img src="/Epitaphis/resources/images/ghost.png" width="12%"  >
	</div> <-->
    </div>


</body>
</html>
