body
{
    background-color:#d1ccc6;
}

.home-left
{
    background-color:#d1ccc6;
}

.form-label
{
    width: 5em;
    margin-right: 1em;
}


#login-panel
{
    position: absolute;
    top:50%;
    left:50%;
    transform:translateX(-50%) translateY(-50%);
    width: 30%;
}

#signup-panel
{
    position: absolute;
    top:50%;
    left:50%;
    transform:translateX(-50%) translateY(-50%);
    width: 50%;
}

#menu-panel
{
    position: absolute;
    top:50%;
    left:50%;
    transform:translateX(-50%) translateY(-50%);
    width: 50%;
}

#join-panel
{
    position: absolute;
    top:50%;
    left:50%;
    transform:translateX(-50%) translateY(-50%);
    width: 50%;
}

.submit-button
{
    width: 25%;
}

.logo
{
    width: 75%;
}

.profile-epit-logo {
    float:0;
    width: 23%;
    padding-left: 26px;
}

/* PROFILE container */
.profile {
    margin: 20px 0;
}

/* Profile Sidebar */
.profile-sidebar {
    padding: 20px 0 10px 0;
    background: white;
}

/* Profile User Pic */
.profile-userpic img {
    float: none;
    margin: 0 auto;
    margin-left: 25%;
    margin-right: auto;
    width: 50%;
    height: 50%;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important;
}

.quote {
    opacity: 0.65;
    padding-left: 33px;
    text-transform: capitalize;
    display: inline;
    font-size: 21px;
    font-size: oblique;
}

.profile-usertitle{
    text-align: center;
    margin-top: 20px;
}

.profile-usertitle-name {
    color: #5a7391;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 7px;
}

.profile-usertitle-bio {
    text-transform: uppercase;
    color: #5b9bd1;
    font-size: 11px;
    font-weight: 600;
    margin-bottom: 15px;
}

.profile-userbuttons {
    text-align: center;
    margin-top: 10px;
}

.profile-userbuttons .btn {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    padding: 6px 15px;
    margin-right: 5px;
}

.profile-userbuttons .btn:last-child {
    margin-right: 0px;
}

/* Profile Content */
.profile-content {
    padding: 20px;
    background: #fff;
    min-height: 460px;
}

/* stream php */
.main-stream {
    background: #fff;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 2%;
    min-height: 600px;
}

.stream-main-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;   
}

.left-posts{
    width: 70%;
    background: #c4c8ce;
    margin-left: 3%;
    margin-top: 3%;
    min-height: 50px;
    float: left;
}

.right-profile-pic {
    width: 40%;
    background: transparent;
    margin-right: 3%;
    margin-top:0%;
    float: right;
}

.right-profile-name {
    float: right;
    margin-right: 1%;
}

.right-side{
    float: right;
    margin-right:5%;
}

.stream-prof-pic {
}

